@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  background: url(/Assets/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
}

.card{
  position: absolute;
  height: 480px;
  width: 400px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
}

.hero-img{
  background: url(/Assets/Pattern.png);
  background-color: #2355F2;
  height: 35%;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.content{
  padding: 20px;
}

.name{
  color: #8E8E8E;
  text-align: center;
  padding: 2px;
  font-weight: 400;
}
input{
  margin-top: 15px;
  width: 70%;
  height: 38px;
  border: 2px solid #EAEBF2;
  border-radius: 5px;
  outline: none;
  background-color: #F5F7FA;
}
input::placeholder{
  color: #C8CBD5;
  padding: 15px;
}
button{
  background-color: #2355F2;
  color: #F2F5FE;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button:hover, button:focus{
  cursor: pointer;
  background-color: #fff;
  color: #2355F2;
  font-weight: 800;
  border: none;
  padding: 10px;

}
.details{
  margin-top: 10px;
  color: rgb(211,211,211);
}


.profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile img{
  padding-right: 8px;
}
span{
  color: #7E7E7E;
}

.footer{
  color: #6E6E6E;
  padding: 15px 20px;
  text-align: center;
}
